extends mini-mixins.pug


mixin About()
    h2.article About
    div.templ-head.align-items-center
        p 
            img.rounded.float-left.ucerico(src="https://pp.userapi.com/c840130/v840130542/2aa9c/SsRFa7Qcq4s.jpg", alt="")
            span Hello. I'm Danila, junior front-end developer from Saint-Petersburg, Russia.
    div.templ-content
        div.facts
            ul 
                h3 Here something about me
                -var facts = factList
                each fact in facts 
                    li=fact
    div.about-content

mixin Portfolio()
    h2.article Portfolio
    div.frontend.pPart
        div.lpart.col-1
            h5 Front-end
        div.conect.col-12.offset-md-2
            - var frontlist = front_prj
            each item in frontlist
                +Project(item.title, item.link, item.about, item.used)
    div.nodeapp.pPart
        div.lpart.col-1
            h5 nodeJS app
        div.conect.col-12.offset-md-2
            - var nodelist = nodeprj
            each item in nodelist
                +Project(item.title, item.link, item.about, item.used)

mixin Contacts()
    h2.article Contacts
    div.templ-content
        -var contactlist = [{"title" : "bitbucket", "link": "https://bitbucket.org/s1ep0y"}, {"title" : "email", "link": "mailto:danmol04@gmail.com"},{"title" : "vkontakte", "link": "https://vk.com/s1ep0y"}]
        each item in contactlist
            +contact(item.title, item.link)
        div.form
            form(action="" name="")
                h4 Also you can just write me (in process, not worl yet)
                label Email for feedback
                input.form-control(type="email" id="exampleFormControlInput1" placeholder="name@example.com")
                label Your message
                textarea.form-control(id="exampleFormControlTextarea1" rows="4")
                button.btn-light.btn(type="submit") Send