extends layout.pug
include content-mixins.pug

block content
    .container
        .row(id="aboutRow")
            .col-10.col-md-5.offset-md-1.templ.About
                +About()
        .col-2.dwnbtn
            a(href="#portfolio")
                h3 PORTFOLIO
        .row(id="portfolio")
            .col-10.col-md-6.offset-md-1.offset-lg-2.templ.Portfolio
                +Portfolio()               
        .row
            .col-10.col-md-4.offset-md-5.offset-lg-7.templ.Contacts
                +Contacts()
        .row
            a(href="#top")
                h3 TELEPORT TO TOP