mixin Project(name, link, about, used)
    li.projectItem
        div.lpartPrj
            a(href=link)
                h5=name
            p=about
        div.rpartPrj
            p=used

mixin contact(title, link)
        a.list-group-item.list-group-item-action(href=link)=title
