div.templ {
  margin-top: 10vh;
}

div.templ h2.article {
  text-align: center;
  font-size: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 5px;
}

div#aboutRow {
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
}

@media (max-height: 550px) {
  div#aboutRow {
    position: relative;
    margin-top: -30px;
  }
}

div.About div.templ-head {
  padding-top: 15px;
  padding-bottom: 15px;
}

div.About div.templ-head p {
  font-size: 22px;
}

div.About div.templ-head img.ucerico {
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

div.About div.templ-content {
  margin-top: 32px;
}

div.About div.templ-content div.facts h3 {
  text-align: center;
  margin-bottom: 18px;
}

div.About div.templ-content div.facts li {
  list-style-type: none;
  padding-left: 16px;
  line-height: 32px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  div.About div.templ-head p {
    font-size: 18px;
  }
  div.About div.templ-head img.userico {
    height: 120px;
  }
  div.About div.templ-content div.facts {
    font-size: 20px;
  }
  div.About div.templ-content div.facts li {
    font-size: 16px;
  }
}

div.Portfolio {
  position: relative;
  min-height: 85vh;
}

@media (max-height: 550px) {
  div.Portfolio {
    margin-top: 200px;
  }
}

div.Portfolio div.pPart {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.Portfolio div.pPart div.lpart {
  position: relative;
  padding-left: 20px;
}

div.Portfolio div.pPart div.lpart h5 {
  bottom: 0;
  left: -10px;
  top: 110px;
  opacity: 0.7;
  width: 120px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
}

div.Portfolio div.pPart div.conect {
  margin-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

div.Portfolio div.nodeapp {
  margin-top: 20px;
}

div.Portfolio div.nodeapp div.lpart h5 {
  top: 130px;
}

div.Contacts {
  margin-top: 48px;
}

@media (max-width: 768px) {
  div.Contacts {
    margin-top: 100px;
  }
}

div.Contacts div.templ-content form {
  margin-top: 24px;
}

div.Contacts div.templ-content form textarea {
  margin: 12px auto;
}

div.Contacts div.templ-content form input {
  margin-bottom: 12px;
}

div.col-2.dwnbtn {
  position: -webkit-sticky;
  position: sticky;
  bottom: 25vh;
  left: 80%;
}

@media (max-width: 768px) {
  div.col-2.dwnbtn {
    left: 30%;
    bottom: 5vh;
  }
}

li.projectItem {
  margin-bottom: 32px;
  list-style-type: none;
}

li.projectItem div.lpartPrj {
  margin-left: 5px;
}

li.projectItem div.lpartPrj span.aspan {
  float: right;
}

li.projectItem div.rpartPrj p {
  -webkit-box-shadow: 0px 10px 17px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 17px -8px rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-filter: drop-shadow();
          filter: drop-shadow();
}
/*# sourceMappingURL=index.css.map */