div.templ {
    margin-top: 10vh;
    h2.article {
        text-align: center;
        font-size: 36px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        padding: 5px;
    }
}
div#aboutRow{
    height: 100%;
    position: sticky;
    top: 5vh;
    @media (max-height: 550px) {
        position: relative;  
        margin-top: -30px;
    }
    // z-index: -1;
}
div.About {
    // height: 90vh;
    div.templ-head {
        padding-top: 15px;
        padding-bottom: 15px;
        p {
            // padding-top: 15px;
            font-size: 22px;
        }
        img.ucerico {
            height: 105px;
            object-fit: cover;
            margin-right: 15px;
        }
    }
    div.templ-content {
        margin-top: 32px;
        div.facts {
                
                h3 {
                    text-align: center;
                    margin-bottom: 18px;
                }
                li {
                    
                    list-style-type: none;
                    padding-left: 16px;
                    line-height: 32px;
                    font-size: 18px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                }
            
        }
    }
    @media (max-width: 768px) {
        div.templ-head{
            p{
                font-size: 18px;
            }
            img.userico{
                height: 120px;
            }
        }
        div.templ-content{
            div.facts{
                font-size: 20px;
                li{
                    font-size: 16px;
                }
            }
        }
    }
}

div.Portfolio {
    position: relative;
    min-height: 85vh;
    @media (max-height: 550px) {
        margin-top: 200px;
    }
    div.pPart {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        div.lpart {
            position: relative;
            padding-left: 20px;
            h5 {
                bottom: 0;
                left: -10px;
                top: 110px;
                opacity: 0.7;
                width: 120px;
                // text-align: center;
                transform-origin: 0 0;
                transform: rotate(270deg);
                position: absolute;
            }
        }
        div.conect {
            margin-left: 20px;
            border-left: 1px solid rgba(0, 0, 0, 0.3);
            // height: 100%;
            // padding-bottom: 20px !important ;
        }

    }
    div.nodeapp {
        margin-top: 20px;
        div.lpart {
            h5 {
                top: 130px;

            }
        }
    }
}
div.Contacts {
    @media (max-width: 768px) {
        margin-top: 100px;
    }
    margin-top: 48px;
    div.templ-content {
        form{
            margin-top: 24px;
            textarea{
                margin: 12px auto;
            }
            input{
                margin-bottom: 12px;
            }
        }
    }
}



div.col-2.dwnbtn{
    position: sticky;
    bottom: 25vh;
    left: 80%;
    @media (max-width: 768px) {
        left: 30%;
        bottom: 5vh;
    }
}

li.projectItem{
    margin-bottom: 32px;
    list-style-type: none;
    div.lpartPrj{
        margin-left: 5px;
        span.aspan{
            float: right;
        }
    }
    div.rpartPrj{
        p{
            -webkit-box-shadow: 0px 10px 17px -8px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 10px 17px -8px rgba(0,0,0,0.4);
            box-shadow: 0px 10px 17px -8px rgba(0,0,0,0.4);
            padding: 5px;
            border-radius: 5px;
            margin-top: 10px;
            filter: drop-shadow()
        }
    }
}